

html {
  min-width: 550px;
  position: relative;
  }


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }


.navbar-text{
    margin-right: 2rem;
    font-size: x-large;
}
.nav-link:hover{
    background-color: rgb(44, 44, 44);
    text-decoration: underline;
}


.flex-container header{
      background-color: black;
      width: 100%;
  }

  .main{
    display: block;
    margin-top: 2rem ;
    margin-bottom: 2rem;
    width: 90%;
    justify-content: center;
  }


  .flex-container aside {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 10%;
    justify-content: right;
    display: block;
  }


  .flex-container footer{
      padding: auto;
      margin-top: 2rem;
      width: 100%;
  }


  .about_title{
      height: 50%;
      margin-right: 1rem;
      margin-left: 1rem;

  }

  
  


  .work_title{
    height: 50%;
    margin-right: 1rem;
    margin-left: 1rem;

    }


  
   
  .about {
      width: 90%;
      height: 50%;
      flex-wrap: wrap;
      margin-left: 2rem;
      display:block; 
      margin-bottom: 10rem;
  }
  .work {
    justify-content: center;
    width: 90%;
    margin-top: 4rem;
    height: 50%;
    margin-left: auto;
}
.embed-responsive{
  min-width: 80px;
}

img {
  -webkit-filter: blur(1.5px); 
  filter: blur(1.5px);
}

.embed-responsive{
  -webkit-filter: blur(0px); 
  filter: blur(0px);
}

img:hover {
  -webkit-filter: blur(0px); 
  filter: blur(0px);
}

.big_image img{
  transform: translateX(25%);
}


.small_image img{
  transform: translateX(102%);
}


#contact{
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 10rem;
  
  }
  
  .contact_links ul{
    justify-content: center;
    list-style: none;
  }
  
  .contact li {
    columns: 4;
    display: inline-flexbox;
    margin: auto;
    list-style: none;
  }